<!-- <h1>Uploads#index</h1> -->
<% if !flash[:notice].blank?%>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<%end%>
<br>

<%= link_to "New Upload", new_upload_path, class: "btn btn-primary" %>
<br>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>FIlename</th>
			<th>Download Link</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @uploads.each do |upload|%>
			<tr>
				<th><%= upload.filename %></th>
				<th><%= link_to "View / Download File", upload.attachment_url%></th>
				<th><%= button_to "Delete", upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.filename}?" %></th>
			</tr>
		<% end %>	
	</tbody>
</table>

<div>
	<% our_file, count, h = Upload.first, 1, [] %>
	<% if our_file %>
		<h2>Please refresh page to re-group teams</h2>
		<% content = our_file.attachment.read.split("\n") %>
		<% content.sample(content.length).each_slice(3) do |group_members| %>
			<% result = ("Group #{count}\n#{group_members.join(", ")}\n") %>
			<% h.push(result) %>
			<% count += 1 %>
		<% end %>
		<% h.each do |groups| %>
			<h3><%= group_name = groups.split("\n").first %></h3><br>
			<h4><%=	group_mem = groups.split("\n")[1..-1].join(" ") %></h4>
		<% end %>
	<% else %>
		<h2>Please upload a .txt file containing the names of indiduals you wish to put into groups / teams. Notice!, each name should be on a new line. Thanks for using auto_draft</h2>	
	<% end %>
</div>

