<!-- <h1>Uploads#index</h1> -->
<% if !flash[:notice].blank?%>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<%end%>
<br>

<%= link_to "New Upload", new_upload_path, class: "btn btn-primary" %>
<br>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>FIlename</th>
			<th>Download Link</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @uploads.each do |upload|%>
			<tr>
				<th><%= upload.filename %></th>
				<th><%= link_to "View / Download File", upload.attachment_url%></th>
				<th><%= button_to "Delete", upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.filename}?" %></th>
			</tr>
		<% end %>	
	</tbody>
</table>

<div>
	<% our_file = Upload.first %>
	<% if our_file %>
		<h2>Please refresh page to re-group teams</h2>
		<% content = our_file.attachment.read.split("\n") %>
		<% h = group_them(content, 4) %>
		<% h.each do |teams| %>
		<h3><%= teams.split("\n").first %></h3><br>
		<h4><%= teams.split("\n").last %></h4>
		<% end %>
	<% else %>
	<% end %>	
</div>

