<!-- <h1>Uploads#index</h1> -->
<% if !flash[:notice].blank?%>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<%end%>
<br>

<%= link_to "New Upload", new_upload_path, class: "btn btn-primary" %>
<br>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>FIlename</th>
			<th>Download Link</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @uploads.each do |upload|%>
			<tr>
				<th><%= upload.filename %></th>
				<th><%= link_to "View / Download File", upload.attachment_url%></th>
				<th><%= button_to "Delete", upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.filename}?" %></th>
			</tr>
		<% end %>	
	</tbody>
</table>

<input type="textbox" name="number" class="range" placeholder="Number"><br><br>


<button class="btn btn-primary group_them">Group</button><br><br>



<div class="show">
	
</div><br><br>


<div id="groupings">
	<% our_file = Upload.first %>
	<% if our_file %>
		<%= content = our_file.attachment.read %>
	<% else %>
		<h2>Please upload a .txt file containing the names of individuals/items you wish to randomly put into groups / teams. Notice!, each name should be on a new line. Thanks for using auto_draft</h2>	
	<% end %>	
</div>

